.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-green-gradient-background { 
  background: -webkit-linear-gradient(360deg,#224e4d 10%,#083023 360%); 
  background: linear-gradient(360deg,#224e4d 10%,#083023 360%); 
}

.classy-subtle-dark-gray-gradient {
   /* background: -webkit-linear-gradient(360deg,#383836 10%,#4a4a4a 360%); 
   background: linear-gradient(360deg,#383836 10%,#4a4a4a 360%);  */
   background: -webkit-linear-gradient(360deg,#151826 10%,#4a4a4a 360%); 
   background: linear-gradient(360deg,#151826 10%,#4a4a4a 360%); 
  }

.imageLoaderDiv{
  background-size: cover;
  background-repeat: no-repeat;
  
}

.text-font{
  
    font-family: Noto Sans,sans-serif;
  
}
.header-text{
  position: absolute;
  top: 12rem;
  left:41%;
}
.button-position{
 margin-bottom: 2rem;
}

.registration-form-position{
  margin-bottom: 22rem
}

.formInput{
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0rem;
}